<% provide(:title, 'About') %>

<div class="center hero-unit">
  <div class="inline_center">

		<div class="headline">
			<h1>About Us</h1>
    </div>

    <div id="slidepic">
      <%= image_tag("slideshow/southAfrica2.jpg", alt: "crying", :id => "auto_resizeimage") %>
      <!--(image_tag("crying.jpg", :alt => "crying" :height => "50%" :width => "50%" :class => "menu_icon"))-->
    </div>

		

	  <table id="about_tables"> 
     <col  width: 50em" />
     <caption  class="about">Who We Are</caption>
                

      <tr class="whitespace"> 
        <td class="leftelement"><p> abababbababababababbababbabababababababababababaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>
		  </P></td> 
  
     <td class="rightelement"><%= image_tag("slideshow/569pxafricamapbs8.jpg", alt: "crying", :id => "gauto_resizeimage") %>  </td>  
      </tr>
   </table> 

       

 	  <table id="about_tables">

      	  <caption  id="about">What We do</caption>


       	<tr class="whitespace"> 
          <td class="leftelement"><p> abababbababababababbababbabababababababababababaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br></P>
          </td> 
          <td class="rightelement"><%= image_tag("slideshow/130321161432-face-africa-11-horizontal-gallery.jpg", alt: "crying", :id => "auto_resizeimage") %>  </td>  
    	</tr>
   	</table>


    <table id="about_tables">

          <caption  id="about">Our Main Sponsors</caption>


          <tr class="whitespace"> 
          <td class="leftelement"><p> 
            <ul>
               <li>Microsoft</li>
               <li>Coca Cola</li>
               <li>Nike</li>
               <li>Addidas</li>
               <li>Honda</li>
            </ul>
            <p> Thanks to all of these companies our mission is going really smooth
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		  </P></td>  

          <td class="rightelement"> <%= image_tag("slideshow/49c3c8a00.jpg", alt: "crying", :id => "auto_resizeimage") %> </td>
      </tr>
    </table>

  	<table id="about_tables">
     <caption  id="about">Why You Should Help Us</caption>
  

      <tr class="whitespace"> 
        <td class="leftelement"><p> abababbababababababbababbabababababababababababaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>abababbababababababbababbabababababababababababaaaaaaaaaaaaaaa <br>
		  </P></td> 
      <td class="rightelement"><%= image_tag("slideshow/youngaf.jpg", alt: "crying", :id => "auto_resizeimage") %>  </td>
      </tr>
    </table>


      
<div style="clear: left; margin-bottom: 1em"></div>

      
 
    </div>
</div>












